* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(images/fotos.png);
    width: 100vw;
    background-size: cover;
}

.container {
    padding-top: 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    line-height: 35px;
}

.header-main-nav-wrapper {
    background-color: #fff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.header-main-nav-wrapper nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-button {
    padding: 15px 30px;
    width: 230px;
    height: 500px;
    border-radius: 999px;
    background: #F80000;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.broodjesSlides {
    display: none;
}

.prev:hover .next:hover {
    background-color: #000;
}

.text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: center;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*in de code wordt deze keyframe aangeroepen om te faden  */
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* hieronder staat mr dammie  om het plaatje bij zijn naam te stylen */
.about-mrdammie img {
    width: 10%;
    height: auto;
    border-radius: 999px;
}

/* hieronder heb ik de nav gewrapt zodat het allemaal netjes op orde blijft */
.header-main-nav-wrapper nav a {
    color: #000;
    font-family: Old Standard TT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 20px;
    transition: all .3s linear;
    text-decoration: none;
}

/* hier heb ik de interactie gemaakt dat wanneer je overheen de tekst in de header gaat met de muis de tekst scaled. ook staat hier nog een beetje styling van de tekst bij. */
.header-main-nav-wrapper nav a:hover {
    transform: scale(1.1);
    opacity: 0.9;
    text-decoration: underline;
}

/* logo styling */
.header-main-nav-wrapper nav a img {
    object-fit: contain;
    aspect-ratio: 1;
    width: 80px;
}

.order-wrapper-row {
    display: flex;
    justify-content: space-between;
}

/*styling van de box waar de het broodje met op staat */
.order-wrapper .card {
    border-radius: 20px;
    background-color: #392E2D;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 20px;
}

/* styling broodjes button voor kies broodje met interactie */
.broodjes-button {
    border-radius: 999px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff0000;
    margin-top: 40px;
    border: none;
    transition: all .3s linear;
    border: 2px solid #ff0000;
    cursor: pointer;
}

/* styling interactie */
.broodjes-button:hover {
    border: 2px solid white;
    background-color: #ff5a5a;
}

.order-wrapper .card h3 {
    color: #ff0000;
    font-weight: 700;
}

.broodjes-text {
    color: #fff;
}

/* positie van de pop up met styling van de achtergrond */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    flex-direction: column;
}

/* styling van button als je weg wilt klikken */
#close-btn {
    cursor: pointer;
    font-size: 20px;
    color: #888;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* main nav styling en locatie */
.main-nav,
.main-imageslider {
    height: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav {
    justify-content: space-between;
}

.inleiding a {
    color: green;
}

.inleiding h2 {
    color: #000;
}