body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1000px;
}

.main-nav,
.main-imageslider{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav{
    justify-content: space-between;
}